<h2 mat-dialog-title>Elementos Insertados</h2>
<mat-dialog-content> Se insertaron {{data.rows.length}} registros exitosamente.

  <mat-list role="list">


  @for (item of data.rows; track $index ) {
    <!-- //<mat-option [value]="certificado.id_type_certificate">{{certificado.name_type}}</mat-option> -->

    <mat-list-item role="listitem">
      <div class="mat-typography">
      Concepto: {{item.nombreConcepto}} | Nit:{{item.nit}} | Razón Social: {{item.razonSocial}}
      </div>
    </mat-list-item>

  }

</mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
