<div class="Principal">
<div class="principal-container">

  <div class="menu">

    <img
      class="principal-logo"
      src="{{this.getAssetsENV()}}logoapex.png"
      alt="logo"/>

      <button mat-button color="#fff" (click)="activeHome()">Inicio</button>
      <button mat-button color="#fff">Cambiar Password</button>
      <button mat-button (click)="activeUploadFiles()">Cargar archivos</button>
      <button mat-button (click)="activeDownloadFiles()">Descarga de cetificados</button>
      <button mat-button (click)="exit()">Salir</button>



  </div>

  <div class="mat-typography titles">
    <h1 *ngIf="downloadFiles"> Descarga de Archivos </h1>
    <h1 *ngIf="uploadFiles"> Carga de Archivos </h1>
  </div>


  @if(downloadFiles) {
  <div class="principal-container-process">

    <div class="principal-container-process-left mat-elevation-z8" >

      @if(idLoader==true) {

      <mat-progress-spinner
          class="example-margin"
          color="primary"
          mode="indeterminate"
          value="value"
        >
        </mat-progress-spinner>
      }
      <form name="form" class="form-generate" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <mat-card tabindex="0" class="mat-elevation-z8" >
        <mat-card-header >
          <mat-card-subtitle></mat-card-subtitle>
          <mat-card-title >Generación Certificado</mat-card-title>
        </mat-card-header>
        <mat-card-content >

          <mat-divider></mat-divider>

          <mat-form-field style="margin-top: 2rem;">
            <mat-label>Certificado</mat-label>
            <mat-select>
              @for (certificado of certificados; track certificado) {
                <mat-option [value]="certificado.id_type_certificate">{{certificado.name_type}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Nit</mat-label>
            <input
                matInput
                 type="text"
                 id="nit"
                 name="nit"
                 placeholder="Ingrese Nit"
                 />
                </mat-form-field>

                <br>

                <mat-form-field>
                  <mat-label>Empresa asociada</mat-label>
                  <mat-select>
                    @for (org of organizations; track org) {
                      <mat-option [value]="org.id_organization">{{org.nit}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <br>

                 <!-- <mat-form-field>
                  <mat-label>Favorite food</mat-label>
                  <mat-select>
                    @for (org of organizations; track org) {
                      <mat-option [value]="org.id_organization">{{org.nit}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>


                <br> -->

                <mat-form-field>
                 <mat-label>Año</mat-label>
                 <mat-select>
                   @for (anio of anio; track anio) {
                     <mat-option [value]="anio.value">{{anio.viewValue}}</mat-option>
                   }
                 </mat-select>
               </mat-form-field>


               <mat-divider></mat-divider>
          <div class="mat-typography">
            <p>
              Seleccione las opciones para generar su certificado
            </p>
          </div>
          <mat-divider></mat-divider>

        </mat-card-content>

        <mat-card-actions>
          <button mat-button color="primary">Generar</button>
          <button mat-button>Limpiar</button>
        </mat-card-actions>

        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      </form>
    </div>

    <div class="principal-container-process-center" >
      <mat-divider vertical style="height:100%"></mat-divider>
    </div>

    <div class="principal-container-process-right mat-elevation-z8">

      <mat-card >
        <mat-card-header style="margin-bottom: 1rem;">
          <mat-card-subtitle></mat-card-subtitle>
          <mat-card-title>Certificados Generados</mat-card-title>
        </mat-card-header>
        <mat-card-content>


          <mat-divider></mat-divider>

          <li>

          </li>


            <!-- <button mat-button>Cargar</button>
          <button mat-button>Limpiar</button> -->


          <!-- <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
              {{shoe}}
            </mat-list-option>
          </mat-selection-list> -->

          <mat-selection-list #certificateG (selectionChange)="selectedItemCert(certificateG.selectedOptions.selected)" [multiple]="false">
            <mat-list-option  *ngFor="let certificateG of certificatesGenerated" [value]="certificateG">
              <div class="mat-typography">
                <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary" fontIcon="document">
                  {{certificateG.nombre+" - "+certificateG?.url_assoc_file}}
                </mat-icon>
                <h3>
                {{certificateG.nombre+" - "+certificateG?.url_assoc_file}}
              </h3>
              </div>
            </mat-list-option>
            <!-- @for (certificateG of certificatesGenerated; track certificateG) {
              <mat-list-option [value]="certificateG.id_certificados_generado">{{certificateG.nombre+" - "+certificateG?.url_assoc_file}}</mat-list-option>
            } -->
          </mat-selection-list>
          <mat-divider></mat-divider>
          <!-- <p>
            Opciones seleccionadas: {{certificateG.selectedOptions.selected.length}}
          </p> -->
          <div class="mat-typography">
            Opciones seleccionadas: {{certificateG.selectedOptions.selected.length}}
          </div>
          <div class="mat-typography">
            <h3> {{this.certificateSelected?.nombre}} </h3>
            <h3> {{this.certificateSelected?.url_assoc_file}} </h3>
          </div>

        </mat-card-content>

        <mat-card-actions >
          <mat-divider></mat-divider>


        <button mat-button color="primary" (click)="decargar()">Descargar</button>
        </mat-card-actions>

        <mat-card-footer>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
      </mat-card>

    </div>

  </div>
}


@if(uploadFiles) {
  <div class="principal-container-process" >

    <div class="principal-container-process-center"  >
      <!-- <mat-divider vertical style="height:100%"></mat-divider> -->

      <mat-card tabindex="0" class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-subtitle>Manejo de archivos</mat-card-subtitle>
          <mat-card-title>Carga de Archivos</mat-card-title>
        </mat-card-header>

        <mat-card-content>


          <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" enctype="multipart/form-data" >


            <!-- <mat-form-field>
              <ngx-mat-file-input
               accept=".xlsx"
               [(ngModel)]="form.uploadFile"
               [formControl]="form.uploadFile"
              >
              </ngx-mat-file-input>
           </mat-form-field> -->

           <mat-form-field>
            <ngx-mat-file-input
              [formControl]="fileControl"
              accept=".xlsx"
              name="fileUpload"
              id="fileUpload"

             >
              <mat-icon ngxMatFileInputIcon >folder</mat-icon>
            </ngx-mat-file-input>
          </mat-form-field>


          <mat-divider></mat-divider>
          <div class="title">Selección de acrchivo(s):</div>
          <div class="value">
            <ul>
              <li *ngFor="let item of files">{{item?.name}}</li>
            </ul>
          </div>



          <mat-card-actions>
            <button mat-button color="primary" type="submit">Cargar</button>
            <button mat-button (click)="clearForm()">Limpiar</button>
          </mat-card-actions>


          </form>



        </mat-card-content>




      </mat-card>

    </div>

  </div>
}

@if(home){
   <home title="TITULAZO"/>
}


</div>
</div>

<footer></footer>
