<div class="Login">
  <div class="login-container">
    <div class="login-header">
      <img src="https://www.ti-soluciones.co/certificapp/assets/logoapex.png" alt="logo" class="login-logo" />
      <div class="mat-typography">
        <h1>Inicio de sesión</h1>
      </div>


      <div class="login-header">
        <!-- <Divider orientation="horizontal" variant="middle" flexItem /> -->
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

       <mat-progress-spinner
          *ngIf="this.idLoader"
          class="example-margin"
          color="#000"
          mode="indeterminate"
          value="value"
        >
        </mat-progress-spinner>
          <div class="form-group">



            <!-- <input type="text"
                             name="email"
                             class="form-control form-control-sm"
                             id="email"
                             placeholder="Ingrese email o nit"
                             [(ngModel)]="form.email"
                             required
                             #email="ngModel"
                             [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                          /> -->
            <!-- <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con nadie más.</small> -->

            <mat-form-field >
              <mat-label>usuario</mat-label>
              <input
              type="text"
              matInput
              placeholder="ingrese el email o el Nit"
              name="email"
              id="email"
              [(ngModel)]="form.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email?.errors }"
              required />
            </mat-form-field>


            <mat-form-field >
              <mat-label>Password</mat-label>
              <input matInput required type="password" name="password" [(ngModel)]="form.password"
                class="form-control form-control-sm" id="password" placeholder="Ingrese password" minlength="6"
                #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password?.errors }" />
            </mat-form-field>

            <mat-divider></mat-divider>

            <div class="login-btns">
              <div class="btn-left">
                <!-- <Button mat-raised-button color="primary" type="submit">
                          Entrar
                        </Button> -->
                <!-- <mat-form-field> -->
                <button mat-raised-button color="primary" type="submit">Entrar</button>
                <!-- </mat-form-field> -->
              </div>

              <div class="btn-right">
                <!-- <Button mat-raised-button color="accent" type="button">Limpiar</Button> -->
                <!-- <mat-form-field> -->
                <button mat-raised-button type="button">Limpiar</button>
                <!-- </mat-form-field> -->
              </div>

            </div>
          </div>
          <!-- <mat-spinner></mat-spinner> -->

          <div class="form-group">
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
              <!-- Login failed: {{ errorMessage }} -->
            </div>
          </div>

        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
          <!-- Logged in as {{ roles }}. -->
        </div>


      </div>


    </div>
  </div>

</div>
