<div class="Principal">
  <div class="profile-container">
    <div class="mat-typography">
      <h1> Perfil </h1>
    </div>
    <div class="profile-container-process">

      <div class="profile-container-process-left mat-elevation-z8">

        <mat-card tabindex="0" class="mat-elevation-z8">
          <mat-card-header>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-title>Información del Usuario</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            <br>
            <div class="mat-typography">
                <h3><strong>Nit Organización: </strong>{{ this.nit}}</h3>
                <!-- <h3><strong>Nombres: </strong>{{ this.names}}</h3>
                <h3><strong>Apellidos: </strong> {{this.lastNames}}</h3> -->
                <h3><strong>Organización Asociada: </strong>{{this.orgAsociate}} </h3>
            </div>

            <br>

            <mat-divider></mat-divider>

          </mat-card-content>

          <mat-card-actions>

          </mat-card-actions>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>

      </div>

      <div class="profile-container-process-center">
        <mat-divider vertical style="height:100%"></mat-divider>
      </div>

      <div class="profile-container-process-right mat-elevation-z8">


        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" >
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-title>Modificar información</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>

            <div class="mat-typography">
              Cambio de contraseña
            </div>
            <br>



              <!-- <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput type="text" id="namesUser" name="namesUser" placeholder="Ingrese los nuevos Nombres" [(ngModel)]="form.namesUser"
                  #namesUser="ngModel" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input matInput type="text" id="lastNameUser" name="lastNameUser" placeholder="Ingrese los nuevos apellidos" [(ngModel)]="form.lastNameUser"
                  #lastNameUser="ngModel" />
              </mat-form-field> -->

              <mat-form-field>
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput type="password" id="passwordUser" name="passwordUser" placeholder="Ingrese la nueva contraseña" [(ngModel)]="form.passwordUser"
                  #passwordUser="ngModel" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Confimación nueva contraseña</mat-label>
                <input matInput type="password" id="confirmPasswordUser" name="confirmPasswordUser" placeholder="Ingrese de nuevo la nueva contraseña" [(ngModel)]="form.confirmPasswordUser"
                  #confirmPasswordUser="ngModel" />
              </mat-form-field>

          </mat-card-content>

          <mat-card-actions>
            <mat-divider></mat-divider>
            <button mat-button type="submit" color="primary" >
              <mat-icon style="flex-direction: row;
                       display: flex;
                       justify-content: center;
                       justify-items:center;
                       margin-right: 1rem;
                       font-size: 1.3rem;
                       justify-self: center;
                       flex-wrap: nowrap"
                aria-hidden="false"
                aria-label="Example home icon"
                color="primary" fontIcon="edit"></mat-icon>
              Modificar
            </button>
          </mat-card-actions>

          <mat-card-footer>
          </mat-card-footer>
        </mat-card>

      </form>

      </div>

    </div>
  </div>
</div>
