/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.footer{
  margin-top: 2rem;
  background-color: #282c34;
  min-height: 8rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mat-button.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #0171bb;
  color: #fff;
  } */


/* .mat-primary
{
    background-color: #282c34;
} */




  /* .mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #0171bb;
} */


/* mat-button
mat-primary,
mat-raised-button
mat-primary {
  color: #0171bb;
}
*/

/* mat-button
.mat-primary {
  color: #0171bb;
} */
